.navBottomBorder {
    height: 5px;
    width: 100%;
    background-color: turquoise;
}
#mainContainer {
    position: relative;
}


.footer {
    position:fixed;
    padding: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
} 

/* login page */
#loginContainer {
    position: relative;
}
#loginInputs {
    position: absolute;
    left:37%;
    width: 300px;
    margin-top: 10%;
}