  
* {
    box-sizing: border-box;
  }
  /* Full height */
  body, html {
    height: 100%;
  }
body{
    /* The image used */
  background-image: url("../Assets/backgroundmain.jpg");

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
p{
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
    color: white;
    font-weight: bold;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


#navbar-style{
    background-color: rgb(73, 80, 88);
}

#logoborder{
    background-color: rgb(43, 46, 48);
}
.navbar-item,
.navbar-link{
    color: lightgray;
    
}

.navbar-dropdown,
.notification,
.navbar-item{
    background-color: rgb(73, 80, 88);
}
.button,
.fas{
    color: rgb(73, 80, 88);
}


.footer {
    position:fixed;
    padding: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
   color: white;
}

/*Search button style*/

#searchbar{
    text-align: center;
    
    border-style: solid;
    margin-top: 3%;
    margin-bottom: 1%;
}

/*body container*/
.container{
    margin:  auto;
}

.row{
    padding: 1%;
}
#myChart{
    background-color: yellow;
}
#newsInfo,
#topStocks{
    background-color: rgb(122, 123, 124);
    border-style: solid;
}
.column{
    background-color: rgb(122, 123, 124);
    border-style: solid;
    
}
#mainInfo{
    padding: 2%;
    border-style: solid;
}

